@charset "utf-8";

body {
    font-family: "open sans", Arial, Helvetica, sans-serif;
    background: #FFF;
}

.hits-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*==========PLANS AND PRICING==============*/
.PlanPricing .planName {
    height: 150px;
}

.PlanPricing .planName h3 {
    color: #333;
    text-align: center;
    padding: 0;
    margin: 15px 0 5px 0;
    text-transform: uppercase;
}

.PlanPricing .planName p {
    color: #999;
    text-align: center;
}

.PlanPricing .planFeatures {
    text-align: center;
    padding: 10px;
}

.PlanPricing .planFeatures ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.PlanPricing .planFeatures ul li {
    padding: 13px 0;
    list-style: none;
}

.PlanPricing p {
    margin-top: auto;
}

.PlanPricing .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: none;
}

/*========= Price CSS==============*/

.template4 {
    overflow: hidden;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    transition: all 1s linear 0s;
    background: #fff;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}

.template4:hover > p a {
    width: 100% !important;

}

.PlanPricing.template4 .btn {
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    color: #fff;
    font-size: 15px;
    padding: 20px 30px;
    background: #4B515D; /* Old browsers */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.PlanPricing.template4 .btn:hover {
    background: #4B515D !important; /* Old browsers */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.PlanPricing.template4 .price {
    background-color: #1B253B;
    color: #FFFFFF;
    display: block;
    font-size: 28px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.orange {
color: #fba826;
}

.template4 .planFeatures {
color: #333333;
}

.planFeatures img {
max-height: 150px;
}

.specs {
text-align: left;
padding-left: 5px !important;
overflow: hidden;
text-overflow: ellipsis;
transition: all 0.5s linear 0s;
font-size: 16px;
}

.specs > ul > li {
padding: 0 !important;
}
